.learnmore {
  background-color: #275a53;
  height: 856px;
}

.learn__more {
  margin-top: 100px;
  margin-left: 270px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #287739;
  display: inline-block;
}

.learnmore > h1 {
  margin-left: 150px;
  margin-top: 120px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3fb652;
}

.learnmore > h2 {
  margin-left: 150px;
  margin-top: 15px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #ffffff;
}

.learn__more > h1 {
  left: 10px;
  margin-top: 105px;
  bottom: 43.18%;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 20px;
  white-space: nowrap;
}
